h1 {
  font-family: $font-title;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 3rem;
  opacity: 0;
  animation: 1s fadein .5s forwards;
  @include bp(sm) {
    font-size: 3.5rem;
  }

}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;

  @include bp(md) {
    width: 70%;
    margin: 0 auto;
  }
}

section {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0;
  display: none;
}

input[type="number"] {
  border: 0;
  border-bottom: 1px solid black;
  text-align: right;
  font-size: 1rem;
}

button,
button[type="submit"] {
  border: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

button[type="submit"] {
  color: white;
  background-color: $primary;
  width: 100%;
  &:hover {
    background-color: lighten($primary, 10%);
  }
}

li {
  counter-increment: item;
  margin-bottom: 1em;

  &:before {
    content: counter(item);
    color: white;
    border-radius: 50%;
    margin-right: 0.5em;
    display: inline-block;
    text-align: center;
    height: 1em;
    width: 1em;
    padding: 0.1em;
    background-color: $danger;
  }
}
