@mixin bp($size) {
  @if $size == sm {
    @media screen and (min-width: 600px) {
      @content;
    }
  } @else if $size == md {
    @media screen and (min-width: 900px) {
      @content;
    }
  } @else if $size == lg {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
}
