@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,600");

$primary: #2962ff;
$danger: #d50000;

$font-primary: "Roboto", sans-serif;
$font-title: "Monoton", serif;
