.canvas {
  display: flex;
  justify-content: space-between;
}

#reset-canvas {
  &:hover {
    color: white;
    background-color: $danger;
  }
}

.canvas {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  h2 {
    align-self: center;
  }
}

#canvas {
  display: grid;
}

.box {
  background-color: transparent;
  border: 1px solid black;
  height: 2rem;
  width: 2rem;
}
