
.color {
  display: none;
  justify-content: space-between;
}

.buttons {
  justify-content: space-between;
}

.zoom {
  &:hover {
    background-color: lighten(#ddd, 10%);
  }
  span {
    display: none;

    @include bp(sm) {
      display: inline;
    }
  }
}
