.size {
  display: block;
  width: 80%;
  margin-top: 40vh;
  align-self: center;
  opacity: 0;
  animation: 0.5s slidefadein 0.5s forwards ease-in;
}

.group {
  width: 100%;
  display: flex;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  label {
    flex: 0 1 30%;
  }
  input {
    flex: 1 1 70%;
  }
}
