doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    h1 Lab: Pixel Art Maker

    main
      section.help
        h2 Help
        ol
          li Left Click (or Drag) - Fill
          li Right Click (or Drag) - Erase
          li #[kbd C] - Open Color Choice Popup
          li #[kbd ESC] - Close Color Choice Popup

      section.size
        h2 Choose Grid Size
        form.size-picker
          .group
            label(for="height") # Row
            input#height(type="number", name="height", min="1", value="1")
          .group
            label(for="width") # Column
            input#width(type="number", name="width", min="1", value="1")
          .group.buttons
            button(type="submit") Start Drawing

      section.color
          .color__control
            label(for="color-picker") Pick A Color
            input#color-picker(type='color' value="#000000")

          button.zoom#zoom-out #[span Zoom] -
          button.zoom#zoom-reset #[span Zoom] 0
          button.zoom#zoom-in #[span Zoom] +
          button#reset-canvas Reset Canvas

      section.canvas
        h2 Design Canvas
        #canvas

    script(src="./index.js")
